body {

    background-color: rgb(54, 48, 78);
    color: white;

    font-family: 'Spartan', sans-serif;
    /* margin: 50px; */

    /* keep the images to the right a bit, space for head/nav */
    padding-left: 20%;
}

/* header fixed on the left side */
header {

    width: 300px;

    position: fixed;
    left: 5%;
    top: 100px;
    text-align: center;

    z-index: 0;
}

#logo {
    width: 150px;
    transition: all 1.5s;
    transition-timing-function: ease;
}

#logoBox:hover img{
    /* animation: animRotate 1s linear forwards; */
    transform: rotateY(360deg);
}

#logoBox {
    height: 150px;
    width: 150px;
    margin: auto;
}

h1 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    
}

.navm { /* dont need this on non-mobile, hidden */
    position: absolute;
    height: 0;
    z-index: -1;
    opacity: 0;
}
/*******/
/* nav */
/*******/
nav {
    /* background-color: rgba(255, 255, 255, 0.247); */
    background-color: rgb(105, 100, 122);
    font-size: 20px;
    line-height: 40px;
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    width: 200px;
    height: 280px;

    justify-content: center;

    transition: all 1s;
}

nav ul {
    padding: 0;
}

nav ul li{
    list-style: none;
    line-height: 60px;
}

li a {
    color: white;
    text-decoration: none;
    transition: all 1s;
}

li a:hover {
    color: lightblue;
    font-size: 24px;
}

/**********/
/* resume */
/**********/
#resume {
    height: 905px;
    width: 700px;
}

/*********************/
/* main images stuff */
/*********************/
main {
    justify-content: center;

    display: flex;
    flex-wrap: wrap;

    margin: 50px;
    padding: 30px;

}

.proj {
    margin: 25px;

    height: 360px;
    width: 360px;
    position: relative;

    transition: all 1s;
}

.proj img {
    width: 360px;
    transition: all 1s;

    opacity: 40%;
}


/* proj img titles */
.imgTitle {
    color: white;
    font-size: 35px;
    position: absolute;
    text-align: center;

    top: 0;
    width: 100%;
    padding-top: 160px;
    margin: 0;

    opacity: 100%;

    transition: all 1s;

}


/*********/
/* pages */
/*********/

/*********/
/* about */
/*********/
#titleDiv {
    display: inline;
    position: relative;
}

#title {
    font-weight: 600;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.descDiv {
    margin: 25px;

    width: 550px;
}

.desc {
    font-weight: 300;
    line-height: 2.5ch;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}

.descCen {
    text-align: center;
}

.subt { 
    /* bit heavier weight */
    font-weight: 600;

}

#pfp {
    display: block;
    position: absolute;

    top: 88px;
    left: 50px;
    width: 250px;

    z-index: -5;
}

#profile {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 300px;

}



/***********/
/* contact */
/***********/
#links {
    display: flex;
    justify-content: center;
    margin: auto;
}
.links {
    color: white;
    font-size: 50px;
    margin: 15px;
    transition: all 1s;
}
.links:hover {
    color: lightblue;
}
#cont {
    text-align: center;
}

/* pieces */
.projPage {
    display: block;
    align-content: center;
}
.pageLink {
    color: lightblue;
    font-weight: 600;
    text-decoration: none;
}

.pageLink:hover {
    color: rgb(105, 100, 122);

}

.projTitle {
    text-align: center;
    margin: 25px;
}

.infoPic {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
    width: 700px;
}


.projDiv {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 700px;
}

/* p1, */
.groupPics {
    display: flex;
    justify-content: center;
}
.smallImg {
    margin: 20px;
    width: 150px;
}

/* fashion, p2 */
.infoPic2 {
    margin: 10px;
    width: 330px;
}
.mb {
    margin: 20px;
    width: 250px;
}

/**********/
/* footer */
/**********/
footer {
    bottom: 0;
    margin: 25px;
    position: relative;
    text-align: center;
}

/*******************/
/* mid range width */
/*******************/
@media (max-width: 1215px) {

    .proj {
        margin: 25px;
        height: 450px;
        width: 450px;
    }

    .proj img {
        width: 450px;
    }

    body {
        padding-left: 33%;
    }

    .imgTitle {
        padding-top: 200px;
    }

    .descDiv {
        width: 450px;
    }

    .infoPic, .projDiv {
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 500px;
    }
    /* logo */
    .smallImg {
        margin: 10px;
        width: 150px;
    }

    /* resume */
    #resume {
        margin: auto;
        height: 700px;
        width: 500px;
    }

    /* fashion */
    #fashionPics {
        flex-wrap: wrap;
    }
    .infoPic2 {
        margin: 10px;
        width: 500px;
    }

}

/**************/
/* mobile-ish */
/**************/
@media (max-width: 1020px) {


    body {
        padding: 0;
        margin: 0;
    }

    main {
        padding: 0;
        margin: 15px;
        margin-top: 90px;
    }

    /* heading */
    header {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;

        text-align: left;

        width: 100%;
        height: 75px;
        z-index: 7;
    }

    #head {
        background-color: rgb(54, 48, 78);
        display: flex;
        position: relative;
        text-align: center;
        z-index: 8;
        height: 70px;
    }

    #logo {
        height: 50px;
        width: 50px;
    }

    #logoBox {
        margin: 10px;
        margin-left: 30px;
        margin-right: 0;
        height: 50px;
        width: 50px;
    }

    h1 {
        font-size: 20px;
        margin: auto;
        margin-left: 15px;
    }


    /* menu stuff */

    nav { /* height 280 + top/bottom 20 padding = 320 */
        position: relative;
        text-align: center;
        margin: 0;
        width: 100%;

        top: -315px;
        z-index: 6;
    }
   
   .navm {
        background-color: rgb(54, 48, 78);
        position: absolute;
        margin: auto;
        margin-right: 30px;
        
        top: 10px;
        right: 0;

        height: 50px;
        width: 50px;

        opacity: 100%;
    }


    #menu {
        z-index: 8;
        margin-right: 15px;
    }

    #back {
        opacity: 0;
        z-index: 7;
    }

    .desc {
        width: 400px;
    }

    .infoPic {
        width: 400px;
    }

    .smallImg {
        margin: 5px;
        width: 120px;
    }

    .infoPic2 {
        width: 370px;
    }

    .mb {
        margin: 10px;
        width: 180px;
    }

}

/******************/
/* mobile narrow? */
/******************/
@media (max-width: 550px) {
    .proj, .proj img {
        height: 360px;
        width: 360px;
    }

    .imgTitle { 
        padding-top: 160px;
    }

   .projDiv {
        width: 300px;
   }

   #resume {
       margin: auto;
       height: 400px;
       width:300px;
   }

    .desc {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
    }

    .infoPic {
        width: 300px;
    }

    .smallImg {
        margin: 5px;
        width: 120px;
    }

    .infoPic2 {
        width: 300px;
    }

    .mb {
        margin: 10px;
        width: 180px;
    }
}
